@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    background: url(/img/local.jpg);
    background-size: 100%;
    height: 90vh;
}

.div1{
    display: flex;
}

.div1>nav>img{
    padding-left: 20px;
    padding-top: 10px;
}

.div1>nav>p{
    color: #000;
    display: inline;
    padding: 20px;
    font-size: 1.2em;
    position: relative;
    top: -15px;
    
}

.div1>nav>a:nth-child(3){
    margin-left: 720px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;

}
.div1>nav>a:nth-child(4){
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.div1>nav>a:nth-child(5){
    position: relative;
    top: -1px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}

.div1>nav>i{
    color: #000;
    padding-left: 30px;
}

.div2>h1{
    color: #000;
    text-align: center;
    padding-top: 140px;
    font-size: 5.5em;
    font-weight: 300;
    font-family: 'Lato', sans-serif;;
}
